@font-face {
    font-family: Frutiger;
    src: url(Frutiger.ttf);
}

@font-face {
    font-family: Domus;
    src: url(Domus.otf);
}

body {
    font-family: Frutiger;
}

h1 {
    font-family: Domus, monospace;
}


/* Navbar */
.navbar-item img {
    max-height: none !important;
    width: 12vw;
}

.navbar-menu {
    flex-grow: 0 !important;
}

.dropdown-menu {
    text-align: center;
}

.nav-link {
    color: #4a4a4a !important;
}

.navbar-item a:hover
{
    background: #94C1E5 !important;
    color: black !important;
}

dropdown-menu {
    margin-bottom: 0.5em;
}

@media (max-width: 1023px) {
    .dropdown-menu {
	position: relative !important;
	transform: none !important;
    }
}



/* Banners */
.banner-text {
    background: rgba(255,255,255,0.8) !important;
    padding: 1em;
    width: 40%;
    place-items: flex-start !important;
    left: 40%;
}
.banner h1 {
    border-bottom: 2px solid #0023A5;
    font-size: 2vw !important;
    text-align: left !important;
}
.banner h3 {
    font-size: 3.5vw !important;
}

.banner h1, .banner h3 {
    color: #0023A5 !important;
    background: none !important;
    box-shadow: none !important;
}


.mitgliedschaft-form-container {
    display: flex;
    text-align: center;
    margin: 3em auto;
    justify-content: space-between;
}

.mitgliedschaft-form-container h4 {
    color: #0023A5;
    font-size: 1.5vw;
}
.mitgliedschaft-form-container p {
    font-size: 1vw;
}

.mitgliedschaft-form-left, .mitgliedschaft-form-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #84b9e4;
    padding: 1em 4em;
}

.mitgliedschaft-form-button{
    margin-top: 2em;
    background: #0023A5;
    padding: 0.6em;
}

.mitgliedschaft-form-button a{
    color: white;
    font-size: 1vw;
}

.mitgliedschaft-testimony {
    margin-top: 3em;
    text-align: center;
    background: #84B9E4;
    color: white;
    padding: 2em;
    width: 100%;
}

.mitgliedschaft-testimony h4{
    color: white;
    font-size: 2.3vw;
    font-style: italic;
}


.center-page {
    margin: 0 auto;
    width: 75%;
    padding: 0 1em;
    margin-top: -2em;
}
